header img {
	object-fit: cover;
	height: 30rem;
}

h4 {
	padding: 1rem;
	color: #0ad4fa;
}

.container-filters ul li {
	display: flex;
	justify-content: center;
	padding: 0 0.5rem;
}

.pagination {
	display: flex;
	justify-content: center;
}

.card-category {
	margin-bottom: 0;
	font-weight: 500;
	color: lightslategrey;
}

.grl-font-style {
	color: white;
	font-size: 1rem;
	font-weight: 500;
}

.icon-container {
	display: flex;
	justify-content: flex-end;
	margin-right: -1rem;
	margin-bottom: -2rem;
}

.icon-bag {
	padding: 0.7rem;
	width: 25%;
	z-index: 1;
}

.icon-bag-hover {
	position: absolute;
	top: 1%;
	right: -2%;
	padding: 0.6rem;
	width: 25%;
}

.card-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 90%;
	color: white;
	background-color: #0ad4fa;
	z-index: 5;
}

.card-body-hover {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
	margin-top: 35%;
}
.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5%;
}

.card-hover-coin {
	padding-top: 20%;
}

.card-btn {
	background-color: white;
	font-size: 1.5rem;
	color: lightslategrey;
	width: 15rem;
	padding: 0.5rem;
	border: 0;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.card {
	cursor: pointer;
}

.btn-user-coins {
	border: 0;
	padding-top: 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: lightslategrey;
	background-color: transparent;
}

.btn-buy-coins {
	padding: 0;
	border: 0;
	background-color: transparent;
}

.nav-link-a {
	cursor: pointer;
	padding: 2rem;
}

.nav-link-a:hover {
	color: #0ad4fa;
	text-decoration: none;
}

.nav-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MODAL */

.modalBackground {
	width: 110vw;
	height: 100vh;
	background-color: rgba(60, 60, 60, 0.9);
	position: fixed;
	top: 0%;
	left: -5%;
	padding: 10%;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.btn-coins {
	margin: 1rem;
	background-color: #0ad4fa;
}

.btn-coins:hover {
	color: #0ad4fa;
	background-color: rgba(60, 60, 60);
}

.modal-title {
	color: rgba(60, 60, 60);
}
